<div class="main-div">
  <div class="container d-flex justify-content-center align-items-center flex-column h-100">
    <div>
      <img src="../assets/logo.svg" alt="logo" class="logo">
    </div>
    <h1><span class="light">(too) busy</span></h1>
    <h1 class="image-text">
        <span class="light">designing</span>
        <span class="image-mask">
          <img src="../assets/rider.svg" alt="Masked Image">
        </span> 
        <span class="light"><i>our</i></span> 
        
    </h1>
    <h1 class="light d-flex gap-2"><span>website</span><i>atm.</i></h1>

    <div class="contact mt-3">
        <button class="say-hi">Say hi</button>
        <a class="mail mx-2" href="mailto:greyworks.co@gmail.com">greyworks.co&#64;gmail.com</a>
      </div>
  </div>
</div>